@charset "utf-8";
/*秒杀、抢购列表页*/
.list dl dt {
	background-color: #666;
	width: 100%;
	height: 30px;
	color: #fff;
	overflow: hidden;
	margin-top: 5px;
}
.list dl dt h5 {
	float: left;
	width: 35%;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	line-height: 30px;
}
.list dl dt .time {
	float: right;
	margin-right: 5px;
	line-height: 30px;
}
.list dl dt .time em {
	background-color: #333;
	padding: 3px;
	border-radius: 3px;
}
.list dl dt .start-time {
	float: left;
	color: #fff;
	line-height: 30px;
	font-size: 13px;
}
.list dl dd {
	border-bottom: 1px solid #ddd;
	margin: 0 5px;
	overflow: hidden;
	padding: 10px 0;
}
.list dl dd .item-img {
	overflow: hidden;
	float: left;
	width: 35%;
	text-align: center;
}
.list dl dd .item-img img{
	display: block;
	margin: 0 auto;
}
.list dl dd .item-con {
	float: left;
	width: 65%;
}
.list .dt {
	background-color: #666;
	width: 100%;
	height: 30px;
	color: #fff;
	overflow: hidden;
	margin-top: 5px;
}
.list .dt h5 {
	float: left;
	width: 35%;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	line-height: 30px;
}
.list .dt .time {
	float: right;
	margin-right: 5px;
	line-height: 30px;
}
.list .dt .time em {
	background-color: #333;
	padding: 3px;
	border-radius: 3px;
}
.list .dt .start-time {
	float: left;
	color: #fff;
	line-height: 30px;
	font-size: 13px;
}
.list .dd {
	border-bottom: 1px solid #ddd;
	margin: 0 5px;
	overflow: hidden;
	padding: 10px 0;
}
.list .dd .item-img {
	overflow: hidden;
	float: left;
	width: 35%;
	text-align: center;
}
.list .dd .item-img img{
	display: block;
	margin: 0 auto;
}
.list .dd .item-con {
	float: left;
	width: 65%;
}
.item-con h3 {
	font-size: 14px;
	height: 34px;
	line-height: 17px;
	margin: 10px 0;
	overflow: hidden;
}
.item-con .item-desc{
	overflow: hidden;
}
.item-con .item-desc .price {
	overflow: hidden;
}
.item-con .item-desc .buy-link {
	overflow: hidden;
}
.item-desc .price-new {
	color: #E60012;
	font-size: 18px;
}
.item-desc .price-new.fl,
.item-desc .price-old.fl{
	float: left;
	line-height: 30px;
	margin-right: 5px;
}
.item-desc .price-old {
	color: #999;
	text-decoration: line-through;
}
.item-desc input {
	float: right;
	width: 75px;
	height: 30px;
	color: #fff;
	padding: 0;
	border: none;
	font-size: 14px;
}
.item-desc input.on {
	background-color: #E60012;
}
.item-desc input.off {
	background-color: #666;
}
.buy-link .sales {
	color: #999;
	float: right;
	line-height: 25px;
}
.sales .percent {
	display: inline-block;
	width: 75px;
	height: 5px;
	border: 1px solid #E60012;
	border-radius: 20px;
	overflow: hidden;
}
.sales .percent em {
	display: block;
	height: 5px;
	background-color: #f66;
}
/*搜索结果*/
.header.white .search-box {
	background-color: #f2f2f2;
	width: 80%;
	left: 10px;
	margin-left: 0;
}
.header .search-box input {
	float: left;
	border: none;
	width: 70%;
	height: 30px;
	background: transparent;
	font-size: 14px;
	color: #333;
}
.header .search-box i.del {
	float: right;
	margin: 6px;
	background-position: -93px -67px;
}
.header .cancle {
	float: right;
	color: #999;
	font-size: 14px;
	margin-right: 10px;
}
.filter {
	position: fixed;
	top: 45px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	z-index: 20;
}
.filter ul {
	overflow: hidden;
}
.filter ul li {
	width: 24.7%;
	float: left;
	border-right: 1px solid #ddd;
	text-align: center;
	font-size: 14px;
	color: #666;
	position: relative;
}
.filter ul li:last-child {
	border-right: none;
}
.filter ul li.on {
	color: #E60012;
}
.filter ul li .drop-box {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	padding: 5px 0;
	position: absolute;
	right: 5px;
}
.filter ul li em.drop-up {
	display: block;
	width: 0;
	height: 0;
	margin-bottom: 5px;
	border: 6px solid;
	border-color: transparent transparent #999 transparent;
}
.filter ul li em.drop-up.on {
	border-bottom-color: #E60012;
}
.filter ul li em.drop-down {
	display: block;
	width: 0;
	height: 0;
	border: 6px solid;
	border-color: #999 transparent transparent transparent;
}
.filter ul li em.drop-down.on {
	border-top-color: #E60012;
}
.item-list.mt42 {
	margin-top: 42px;
}
.item-list.pb31 {
	padding-bottom: 31px;
}
.item-list {
	padding: 0 10px;
}
.item-list ul li {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.item-list ul li:last-child {
	border-bottom: none;
}
.item-list ul li .item-img {
	float: left;
	width: 35%;
}
.item-img .posi-rela {
	position: relative;
	width: 100px;
	height: 100px;
}
.item-img .tags {
	background: url(../images/zt_icon.png) 0 0 no-repeat;
	background-size: 42px 208px;
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
}
.item-img .tags.jijiangkaishi {
	background-position: 0 0;
}
.item-img .tags.miaosha {
	background-position: 0 -42px;
}
.item-img .tags.qianggou {
	background-position: 0 -84px;
}
.item-img .tags.weikaishi {
	background-position: 0 -126px;
}
.item-img .tags.qiangguang {
	background-position: 0 -168px;
}
.item-list ul li .item-con {
	float: left;
	width: 65%;
}
.item-list .item-con h3 {
	margin: 0;
}
.item-list .item-price {
	margin-top: 10px;
}
.item-list .red {
	color: #E60012;
	font-size: 14px;
}
.item-list .time {
	float: right;
	margin-right: 5px;
	line-height: 30px;
}
.item-list .time em {
	background-color: #333;
	padding: 3px;
	border-radius: 3px;
	color: #fff;
}
.item-list .tips .fl {
	float: left;
	line-height: 30px;
	font-size: 13px;
}
.item-list .tips .start-time {
	float: right;
	line-height: 30px;
	font-size: 14px;
	color: #666;
}
.more {
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.more i {
	display: block;
	width: 26px;
	height: 22px;
	margin: 4px auto;
	background-position: -130px -172px;
}
.sort-more.more{
	position: static;
	display: block;
	border: none;
	background-color: #f2f2f2;
}
.bottom{
	display: block;
	text-align: center;
	line-height: 30px;
	border-top: 1px solid #ddd;
}
.bottom span{
	color: #999;
	font-size: 12px;
}
.back-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}
.back-top i {
	display: block;
	width: 61px;
	height: 61px;
	background-position: -65px -172px;
}
/*优惠券*/
.coupon-list li {
	padding: 10px;
	overflow: hidden;
}
.coupon-list li:nth-child(2n) {
	background-color: #f2f2f2;
}
.coupon-list li .coupon-img {
	float: left;
	overflow: hidden;
	width: 10px;
	height: 79px;
	background: url(../images/coupon2.png) 0 0 no-repeat;
	background-size: 10px 79px;
	margin: 3px 10px 0 0;
}
.coupon-list li .coupon-img span {
	display: block;
	height: 34px;
	line-height: 34px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	margin-right: 12px;
}
.coupon-list .coupon-text {
	float: left;
	width: 75%;
}
.coupon-list .coupon-text p {
	color: #999;
	font-size: 13px;
	line-height: 20px;
	width: 100%;
	overflow: hidden;
	overflow-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.coupon-list .coupon-text p.tit {
	color: #666;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
}
.coupon-list .buy-link {
	float: right;
	overflow: hidden;
	margin: 20px 0;
}
.coupon-list .buy-link input {
	width: 55px;
}
.error-fixed {
	position: fixed;
	top: 45px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,.5);
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.error-fixed p {
	overflow: hidden;
	overflow-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
}
/*分类*/
.sort-right {
	box-sizing: border-box;
	float: left;
	width: 100%;
	padding: 0 5px;
	overflow-y: scroll;
	font-size: 14px;
}
.sort-right .sort-box h4 {
	font-weight: bold;
	line-height: 30px;
	margin-left: 5px;
	margin-top: 10px;
}
.sort-box .sort-list {
	background-color: #fff;
	font-size: 13px;
	margin-bottom: 10px;
}
.sort-list ul {
	overflow: hidden;
}
.sort-list ul li {
	width: 25%;
	height: 35px;
	line-height: 35px;
	float: left;
	text-align: center;
	position: relative;
	border: 1px solid #f5f5f5;
}
.sort-list ul li.special {
	line-height: 18px;
}
.sort-list ul li a {
	display: block;
	width: 100%;
	height: 35px;
}
/*页面内容为空*/
.empty-img {
	position: absolute;
	margin-top: -90px;
	left: 50%;
	margin-left: -57px;
	width: 116px;
	height: 180px;
	top: 50%;
}
.empty-text {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
}
.empty-text span {
	display: block;
}
/*商品详情*/
.goods-detail-swiper .swiper-pagination-bullet-active {
	background-color: #E60012;
}
.head-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	z-index: 5;
}
.head-link a.back {
	float: left;
	margin: 10px;
	height: 36px;
}
.head-link a.back i {
	width: 36px;
	height: 36px;
	background-position: -205px -172px;
}
.head-link .fr {
	float: right;
}
.head-link a.other {
	float: left;
	margin: 10px 5px;
	height: 36px;
}
.head-link a.other i {
	width: 36px;
	height: 36px;
	background-position: -2px -232px;
}
.head-link .other-link {
	position: absolute;
	right: 5px;
	top: 55px;
	width: 125px;
	height: 150px;
	background: url(../images/other-link.png) 0 0 no-repeat;
	background-size: 125px 150px;
	padding: 20px 5px 0;
}
.head-link .other-link a {
	display: block;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}
.head-link .other-link a:last-child {
	border-bottom: none;
}
.head-link .other-link a i {
	width: 25px;
	height: 25px;
	margin: 9px 25px 0 10px;
	float: left;
}
.head-link .other-link .msg i {
	background-position: -225px -99px;
}
.head-link .other-link .index i {
	background-position: -194px -99px;
}
.head-link .other-link .me i {
	background-position: -3px -128px;
}
.goods-price {
	height: 50px;
	background: url(../images/goods-price-bg.png) 0 0 repeat-y;
	background-size: contain;
	color: #fff;
	padding: 0 10px;
	overflow: hidden;
}
.goods-price label {
	display: block;
	font-size: 14px;
}
.goods-price .price-new {
	font-size: 20px;
	font-weight: bold;
}
.goods-price .price-old {
	font-size: 14px;
	text-decoration: line-through;
	margin-left: 10px;
}
.goods-price .fl {
	float: left;
}
.goods-price .start-time {
	float: right;
	font-size: 14px;
	height: 50px;
	line-height: 75px;
}
.goods-price .end-time {
	float: right;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}
.goods-price .end-time em {
	background-color: #333;
	padding: 3px;
	border-radius: 3px;
	color: #fff;
}
.goods-name {
	background-color: #fff;
	padding-top: 3px;
	position: relative;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.goods-name p.name {
	font-size: 18px;
	height: 55px;
	overflow: hidden;
	margin: 0 10px;
}
.goods-name p.desc{
	color: #666;
	font-size: 13px;
	margin: 0 10px 20px 10px;
}
.goods-name .intro{
	border-top: 1px solid #ddd;
	overflow: hidden;
	height: 35px;
}
.goods-name .intro li{
	width: 25%;
	float: left;
	text-align: center;
	color: #999;
	border-right: 1px solid #ddd;
	line-height: 35px;
	font-size: 13px;
}
.goods-name .intro li:last-child{
	border-right: none;
}
.goods-name .intro li em{
	color: #f60;
}
.goods-name .intro li .distance{
	float: none;
	line-height: 35px;
}
.goods-num{
	overflow: hidden;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	margin-bottom: 5px;
	padding-left: 10px;
	font-size: 14px;
}
.goods-num label{
	float: left;
}
.goods-num .fl{
	float: left;
}
.goods-num span{
	float: left;
  width: 32px;
  height: 22px;
  margin-right: 5px;
  margin-top: 11px;
}
.goods-num span.jian{
	background: url(../images/jian.png) 0 0 no-repeat #f2f2f2;
  background-size: 32px 22px;
}
.goods-num span.jia{
	background: url(../images/jia.png) 0 0 no-repeat #f2f2f2;
  background-size: 32px 22px;
}
.goods-num .num {
  float: left;
  width: 32px;
  height: 22px;
  line-height: 22px;
  vertical-align: top;
  margin-top: 11px;
  border: none;
  padding: 0;
  margin-right: 5px;
  background-color: #f2f2f2;
  text-align: center;
}
.goods-tips{
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
	padding: 5px 10px;
	font-size: 13px;
}
.goods-tips .tit{
	line-height: 30px;
	font-size: 14px;
}
.goods-tips .con{
	color: #666;
}
.goods-store{
	margin-bottom: 5px;
}
.goods-store h4,
.goods-comment h4,
.goods-detail h4{
	text-align: center;
	font-size: 14px;
	color: #666;
	line-height: 30px;
}
.store-box{
	background-color: #fff;
	font-size: 14px;
	padding: 5px 10px;
	overflow: hidden;
	position: relative;
}
.store-box .store-name{
	width: 80%;
	float: left;
	border-right: 1px solid #ddd;
}
.store-box .store-name .name{
	line-height: 30px;
}
.store-box .store-name .desc{
	font-size: 13px;
	color: #666;
	margin-bottom: 5px;
}
.store-box .store-name .desc em{
	color: #f60;
}
.store-box .call{
	float: right;
	width: 20%;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -20px;
}
.store-box .call a{
	display: block;
}
.store-box .call a img{
 display: block;
 margin: 0 auto;
}
.box-link{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	line-height: 30px;
}
.box-link a{
	display: block;
	text-align: right;
	color: #666;
	padding-right: 10px;
	font-size: 13px;
}
.goods-comment{
	margin-bottom: 5px;
}
.comment-box {
	background-color: #fff;
	padding: 0 10px;
	font-size: 14px;
	overflow: hidden;
}
.comment-box .tit {
	position: relative;
	border-bottom: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.comment-box .tit .icon-right {
	height: 30px;
	left: auto;
	right: 5px;
}
.comment-box .con .head {
	overflow: hidden;
	padding: 10px 5px;
	height: 41px;
	font-size: 12px;
}
.comment-box .con .head i.sprites {
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	background-position: -255px -3px;
}
.comment-box .user-name {
	line-height: 25px;
	margin-right: 5px;
}
.level {
	float: right;
	height: 16px;
	margin: 4px 0;
}
.level .xing1 {
	display: inline-block;
	width: 19px;
	height: 16px;
	background: url(../images/x1.png) right top no-repeat;
	background-size: 38px 16px;
}
.level .xing1.on {
	background-position: left top;
}
.comment-box .comment-text {
	margin: 0 5px 10px;
}
.goods-detail .detail-img img {
	width: 100%;
	display: block;
}
.goods-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 49px;
	overflow: hidden;
}
.goods-btn .star {
	float: left;
	width: 20%;
	height: 50px;
	background-color: #fff;
}
.goods-btn .star i {
	display: block;
	margin: 3px auto 0;
	width: 31px;
	height: 31px;
	background-position: -44px -237px;
}
.goods-btn .star.on i {
	background-position: -78px -237px;
}
.goods-btn .star span {
	display: block;
	text-align: center;
}
.goods-btn .star.on span {
	color: #ff5151;
}
.goods-btn input {
	float: left;
	width: 40%;
	height: 50px;
	color: #fff;
	font-size: 18px;
	border: none;
	padding: 0;
}
.goods-btn input.buy {
	background-color: #E60012;
}
.goods-btn input.buy.only {
	width: 80%;
}
.goods-btn input.buy.gray {
	background-color: #666;
}
.back-top.btm60 {
	bottom: 60px;
}
/*查看所有评论*/
.comment-box.mb10{
	margin-bottom: 10px;
}
.comment-goods {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	height: 94px;
	overflow: hidden;
}
.comment-goods .img {
	float: left;
	width: 20%;
	margin: 15px;
}
.comment-goods .img img {
	display: block;
}
.comment-goods .name-level {
	float: left;
	width: 70%;
}
.comment-goods .name-level .name {
	font-size: 16px;
	height: 50px;
	margin-top: 5px;
	overflow: hidden;
}
.comment-goods .level {
	float: left;
}
.appmsg_editor {
	position: relative;
	margin-bottom: 10px;
}
.appmsg_editor .inner {
	background-color: #e4e4e4;
	color: #666;
	margin: 8px auto 0;
	padding: 5px;
	width: 96%;
	font-size: 12px;
	border-radius: 5px;
}
.appmsg_editor .arrow_out {
	border-color: transparent transparent #e4e4e4;
	border-style: dashed dashed solid;
	border-width: 7px;
	display: inline-block;
	height: 0;
	left: 35px;
	top: -14px;
	width: 0;
	margin-top: 0;
}
.appmsg_editor .arrow {
	position: absolute;
	z-index: 9;
}
/*我的-优惠券*/
.coupon-status {
	position: fixed;
	top: 45px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.coupon-status ul {
	overflow: hidden;
}
.coupon-status ul li {
	float: left;
	width: 25%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.coupon-status ul li span {
	display: block;
	margin: 0px 8px;
	padding: 0 10px;
	height: 40px;
}
.coupon-status ul li.cur span {
	color: #E60012;
	border-bottom: 3px solid #E60012;
}
.coupon-list.mt40 {
	margin-top: 40px;
}
/*订单确认*/
.confirm-tel{
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.confirm-tel p{
	font-size: 14px;
	line-height: 25px;
	overflow: hidden;
}
.confirm-tel p label{
	float: left;
	width: 22%;
}
.confirm-tel p input{
	float: left;
	width: 78%;
	height: 25px;
	line-height: 25px;
}
.confirm-tel p.tips{
	margin-left: 22%;
	margin-top: 5px;
	color: #E60012;
	font-size: 13px;
	line-height: 20px;
}
dt.store-tit {
	overflow: hidden;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	padding-left: 5px;
}
dt.store-tit i.store {
	width: 26px;
	height: 26px;
	background-position: -112px bottom;
	vertical-align: middle;
	margin-top: -5px;
}
dt.store-tit span {
	font-size: 14px;
}
.goods-list .item-box {
	display: inline-block;
	width: 91%;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.goods-list .item-img {
	float: left;
	width: 27%;
	margin-top: 5px;
}
.goods-list .item-con {
	float: right;
	width: 73%;
}
.goods-list .num-link {
	float: right;
	position: relative;
}
.goods-list .num-link span {
	float: left;
	width: 25px;
	height: 22px;
	margin-right: 2px;
	margin-top: 4px;
}
.goods-list .num-link .jian {
	background: url(../images/jian-white.png) 0 0 no-repeat #999;
	background-size: 26px 22px;
}
.goods-list .num-link .jia {
	background: url(../images/jia-white.png) 0 0 no-repeat #999;
	background-size: 26px 22px;
}
.goods-list .item-desc .num-link .num {
	float: left;
	width: 32px;
	height: 22px;
	line-height: 22px;
	vertical-align: top;
	margin-top: 4px;
	border: none;
	padding: 0;
	margin-right: 2px;
	margin-left: 0;
	background-color: #999;
	color: #fff;
	text-align: center;
	font-size: 12px;
}
.order-detail {
	margin-bottom: 5px;
}
.order-detail .goods-list {
	padding: 0 10px;
}
.order-detail .goods-list .item-box {
	width: 100%;
}
.order-detail .goods-list .item-img {
	width: 35%;
}
.order-detail .goods-list .item-con {
	width: 65%;
}
.order-detail .item-desc .price-new {
	float: left;
}
.confirm-sum {
	background-color: #fff;
	font-size: 14px;
}
.confirm-sum p {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	position: relative;
}
.confirm-sum p label {
	float: left;
}
.confirm-sum p.goods-num{
	margin-bottom: 0;
}
.confirm-sum p.goods-num .fl{
	margin-left: 20px;
}
.confirm-sum p.goods-num span{
	margin-top: 9px;
}
.confirm-sum p.goods-num .num{
	margin-top: 9px;
}
.confirm-sum p span.gray {
	float: right;
	color: #999;
	margin-right: 15px;
}
.confirm-sum p .icon-right {
	height: 40px;
	left: auto;
	right: 10px;
}
.confirm-sum p.last-price {
  line-height: 25px;
  height: auto;
  padding: 10px;
}
.confirm-sum p.last-price span {
	word-break: break-all;
}
.confirm-sum p span em {
	font-size: 18px;
	color: #E60012;
}
.all_xz {
	width: 100%;
	height: 46px;
	line-height: 46px;
	font-size: 15px;
	background-color: #fff;
}
.all_xz a {
	width: 40%;
	height: 45px;
	float: right;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
.all_xz .a-tj {
	background: #E60012;
}
/*本地生活-地区选择*/
.header.white h2{
	color: #666;
}
.area-list{
	border-top: 1px solid #ddd;
	font-size: 14px;
}
.area-list dl dt{
	position: relative;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border-bottom: 1px solid #ddd;
}
.area-list dl dt i{
	right: 10px;
	left: auto;
}
.area-list dl dd{
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.item-list .tips{
	overflow: hidden;
}
.distance{
	float: right;
	color: #f60;
	font-size: 14px;
	line-height: 30px;
}
.distance i{
	width: 15px;
	height: 15px;
	background-position: -183px top;
	vertical-align: middle;
	margin-right: 5px;
}
.ms-distance{
	float: left;
	line-height: 25px;
}
/*本地生活-查看商户列表*/
.store-list .store-box{
	border-bottom: 1px solid #ddd;
}
.store-list .store-box .store-name{
	width: 75%;
}
.store-list .store-box .call{
	width: 25%;
	margin-top: -28px;
}
.store-box .store-name .tel{
	color: #fff;
	background-color: #272636;
	display: inline-block;
	padding: 0 5px;
	margin-bottom: 5px;
}
/*本地生活-我的*/
.common-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.head-img {
	color: #fff;
	position: relative;
	width: 100%;
	background: #E60012;
	height: 100px;
}
.head-img .my-info {
	margin: 0 0 0 15px;
	z-index: 20;
	position: relative;
}
.head-img .my-img-wrap {
	display: inline-block;
	height: 75px;
	margin: 10px 0 0 0;
	position: relative;
	vertical-align: middle;
	width: 75px;
}
.head-img .my-img {
	border-radius: 50%;
	display: inline-block;
	height: 75px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 75px;
	z-index: 1;
}
.head-img .my-img img {
	width: 100%;
	height: 100%;
}
.head-img .my-person-info {
	display: inline-block;
	width: 72%;
	float: right;
}
.my-head-number {
	font-size: 17px;
	line-height: 17px;
	margin-top: 35px;
}
.my-head-number p {
	padding-left: 10px;
}
.my-head-number .bd-top {
	border-top: 1px solid #fff;
	font-size: 14px;
	margin-top: 8px;
	padding-top: 8px;
	width: 100%;
}
.head-meassage {
	position: absolute;
	right: 15px;
	top: 10px;
	text-align: center;
}
.head-meassage i {
	display: block;
	background-position: -221px -38px;
	height: 24px;
	width: 28px;
}
.my-content {
	margin-top: 10px;
}
.my-item {
	padding: 15px 0 10px;
	background: #fff;
	display: -webkit-box;
	margin-bottom: 10px;
}
.my-item a {
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	width: 1%;
}
.my-item a.last {
	border-left: 1px solid #999;
}
.myID-part {
	font-size: 0;
	position: relative;
	text-align: center;
}
.myID-img {
	display: block;
	height: 40px;
	margin: 0 auto 4px;
	position: relative;
	width: 40px;
}
.myID-img img {
	height: 100%;
	width: 100%;
}
.myID-text {
	color: #232326;
	display: block;
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 4px;
	text-align: center;
}
.my-item.my-item2{
	display: block;
}
.my-item.my-item2 a {
	float: left;
	width: 25%;
}
/*本地生活-评价*/
.pingjia-list {
	padding: 0 15px;
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.click-level {
	overflow: hidden;
	margin-top: 5px;
}
.click-level span {
	float: left;
	font-size: 14px;
}
.pingjia-text {
	position: relative;
	margin-bottom: 25px;
}
.pingjia-text textarea {
	width: 100%;
	height: 160px;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f5f5f5;
	font-size: 13px;
	margin-top: 15px;
}
.pingjia-text span {
	position: absolute;
	right: 20px;
	bottom: 10px;
	color: #666;
	font-size: 13px;
}
.pingjia-text span.red {
	color: #E60012;
}
.comment-goods .img.m0 {
	margin: 0;
}
.comment-goods .img.wp35{
	width: 35%;
}
.comment-goods.h125 {
	height: 125px;
}
.comment-goods.pt10 {
	padding-top: 10px;
}
.comment-goods .name-level.wp65{
	width: 65%;
}
.a_address_btn {
	display: block;
	height: 40px;
	font-size: 15px;
	background: #E60012;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
/*本地生活-订单列表*/
.vip-order-list {
	margin-bottom: 10px;
}
.vip-order-list.mt40 {
	margin-top: 40px;
}
.order_nub {
	height: 40px;
	line-height: 40px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.o_left {
	float: left;
	width: 60%;
}
.o_left i {
	background-position: -130px -212px;
	float: left;
	height: 26px;
	margin: 7px 5px 0 6px;
	width: 25px;
}
.o_left span {
	font-size: 14px;
}
.o_rt {
	width: 40%;
	float: right;
	padding-right: 10px;
	text-align: right;
}
.o_rt span {
	width: 40%;
	float: right;
	font-size: 14px;
	font-weight: 700;
	color: #f60;
}
.order-detail .item-desc .num {
  float: left;
  color: #999;
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
}
.order-price {
	background: #fff;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.order-price .bd-b{
	border-bottom: 1px solid #ddd;
}
.order-price .mb10{
	margin-bottom: 10px;
}
.order-price p {
	float: right;
	font-size: 14px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.order-price p span {
	margin-left: 10px;
}
.order-price p em {
	color: #FF3333;
}
.order-price .btns{
	margin-right: 10px;
}
.order-price .btns a {
	float: right;
	margin-left: 10px;
	width: 30%;
	height: 30px;
	line-height: 28px;
	border: 1px solid #ccc;
	text-align: center;
	display: block;
	border-radius: 3px;
	font-size: 13px;
	background-color: #fff;
}
.order-price .btns a.a_pay {
	border: 1px solid #FF3333;
	background: #FF3333;
	color: #fff;
}
.w-modal {
	background-color: #fff;
	display: none;
	height: 140px;
	left: 50%;
	margin-left: -120px;
	margin-top: -70px;
	overflow-y: scroll;
	padding-bottom: 45px;
	position: fixed;
	top: 50%;
	width: 240px;
	z-index: 201;
	padding: 10px;
	font-size: 14px;
	text-align: center;
}
.w-modal .img {
	width: 100%;
	line-height: 1;
}
.w-modal img {
	width: 40px;
	height: 40px;
	display: inline-block;
}
.w-modal p {
	font-size: 14px;
	color: #E60012;
}
.w-modal .btns {
	width: 100%;
	overflow: hidden;
	margin-top: 8px;
}
.w-modal .btns a {
	width: 40%;
	display: inline-block;
	height: 28px;
	color: #fff;
	text-align: center;
	line-height: 28px;
	background: #666;
	margin: 0 4%
}
.w-modal .btns a.cur {
	background: #E60012;
}
/*本地生活-订单详情*/
.store-rt {
	float: right;
	height: 100%;
	margin-top: 3px;
}
.store-rt a {
	text-align: center;
	height: 24px;
	line-height: 22px;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 3px;
	float: right;
	padding: 0 5px;
	background-color: #fff;
}
.order-details {
	width: 100%;
	padding-top: 10px;
	background: #fff;
	font-size: 13px;
	overflow: hidden;
}
.order-details ul {
	padding: 0 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.order-details ul:last-child{
	border-bottom: none;
}
.order-details ul.bd-n{
	border-bottom: none;
}
.order-details ul li {
	margin-bottom: 5px;
	text-align: right;
}
.order-details ul li em{
	font-size: 20px;
	color: #E60012;
}
.order-price.gray{
	background-color: #f5f5f5;
	border-bottom: none;
}
.order-price .btns a.wp20{
	width: 20%;
}
.shouhou-tips {
	clear: both;
	text-align: center;
	margin: 20px 0 50px;
	font-size: 14px;
	color: #666;
}
.a_phone_btn {
	background-color: #E60012;
	display: block;
	font-size: 15px;
	width: 85%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 10px auto;
}
.a_phone_btn a {
	color: #fff;
	display: block;
}
